@media screen and (min-width:1100px) {
  .gameBoard {
    width:465px;
    height:465px;
  }

.gameBoard td {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 4em; /* hoặc kích thước bạn muốn */
}

  #gameOver {
    width:50%;
    height:60%;
    border-radius:20px;
    font-size:3em;
  }

  #scoreBoard {
    left:5%;
    width:auto;
    top:50%;
    margin-left:1%;
    transform:translateY(-50%);
  }

  #scoreBoard label {
  color: white;
}

  #scoreBoard label:nth-child(3) {
    margin-left:0px;
}

 #scoreBoard span {
  color: white;
}

  #scoreBoard #playerScore {
    margin-bottom:10%;
  }

  #restart {
    left:80%;
    bottom:60%;
  }
}
